[Desktop Entry]
Type=Application
Name=USB mode control
Icon=1351957345_hdd_usb_unmount
Terminal=False
Exec=osso-xterm -e "sudo /usr/local/sbin/usb_host_ctl -ivlf"
