# Stuart
KERNEL=="eth0", ACTION=="add", RUN+="/bin/sh -c '/usr/local/sbin/usb-ethernet %k &'"
KERNEL=="eth0", ACTION=="remove", RUN+="/bin/sh -c '/usr/local/sbin/usb-ethernet --remove %k &'"
