# Stuart
KERNEL=="eth*", ACTION=="add", RUN+="/bin/sh -c '/usr/local/sbin/usb-ethernet %k &'"
KERNEL=="eth*", ACTION=="remove", RUN+="/bin/sh -c '/usr/local/sbin/usb-ethernet --remove %k &'"
